<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @kpi.description %>
</p>

<p>
  <strong>Responsibility:</strong>
  <%= @kpi.responsibility %>
</p>

<p>
  <strong>Milestone:</strong>
  <%= @kpi.milestone %>
</p>

<p>
	<%= link_to 'Edit', edit_kpi_path(@kpi) %> |
	<%= link_to 'Back', plans_path %>
</p>

<p>
	<%= link_to 'Add new Action', new_act_path(:kpi_id=>@kpi.id) %>
</p>