<script src="http://code.jquery.com/jquery-git1.min.js"></script>

<p id="notice"><%= notice %></p>

<h1>Action Plans</h1>

<p>To add a new KPI to an existing Plan, click on edit plan. Then, add new KPI.</p>
<p>To add a new Action to an existing KPI, click on edit KPI. Then, add new Action.</p>

<br>

<%= link_to 'New Plan', new_plan_path %>

<ul class="sTree2 listsClass" id="sTree2">
  <% @plans.each do |plan| p_id = plan.id; if plan.user_id == current_user.id %>
  <li>
    <div><%= plan.goal %><span class="actionSet"><%= link_to image_tag("edit.png"), edit_plan_path(plan) %> | <%= link_to image_tag("delete.png"), plan, method: :delete, data: { confirm: 'Are you sure?' } %></span></div>
    <%= render :partial => "kpis/select", locals: {p_id: p_id} %>
  </li>
  <% end %>
   <% end %>
</ul>
