<%= form_for(@act) do |f| %>
<%= hidden_field_tag :kpi_id, params[:kpi_id] %>
  <% if @act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
      <% @act.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc, 'Description' %><br>
    <%= f.text_field :desc %>
  </div>
  <br>
  <div class="field">
    <%= f.label :target %><br>
    <%= f.text_field :target %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Create Action' %>
  </div>
<% end %>
