<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @act.desc %>
</p>

<p>
  <strong>Target:</strong>
  <%= @act.target %>
</p>

<p>
	<%= link_to 'Edit', edit_act_path(@act) %> |
	<%= link_to 'Back', acts_path %>
</p>

